/* Flipcard */

.mXmas {
	padding: 20px;
	background: tomato;
	width: 400px;
	height: 220px;
	color: #ffffff;
	font-family: 'Great Vibes', cursive;
	font-size: 72pt;
	animation: spin 8s ease 1;
	-o-animation: spin 8s ease 1;
	-webkit-animation: spin 8s ease 1;
	-moz-animation: spin 8s ease 1;
	border-radius: 5px;
	border: 10px double white;
	text-align: center;
	margin: 0 auto;
	opacity: 1;
}


/* Spinning Flipcard */

@keyframes spin {
	from {
		transform: rotate3d(0, 1, 1, 90deg) scale(.5, .5) rotate(360deg);
		opacity: .2;
	}
	to {
		transform: rotate3d(0, 1, 1, 360deg) scale(1, 1);
		opacity: 1;
	}
}


@-o-keyframes spin {
	from {
		transform: rotate3d(0, 1, 1, 90deg) scale(.5, .5) rotate(360deg);
		opacity: .2;
	}
	to {
		transform: rotate3d(0, 1, 1, 360deg) scale(1, 1);
		opacity: 1;
	}
}

@-moz-keyframes spin {
	from {
		transform: rotate3d(0, 1, 1, 90deg) scale(.5, .5) rotate(360deg);
		opacity: .2;
	}
	to {
		transform: rotate3d(0, 1, 1, 360deg) scale(1, 1);
		opacity: 1;
	}
}

@-webkit-keyframes spin {
	from {
		transform: rotate3d(0, 1, 1, 90deg) scale(.5, .5) rotate(360deg);
		opacity: .2;
	}
	to {
		transform: rotate3d(0, 1, 1, 360deg) scale(1, 1);
		opacity: 1;
	}
}

/* Create spinning snowflakes animation */

@keyframes snow {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes snow {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-moz-keyframes snow {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes snow {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/*Make those snowflakes spin!*/

.snowflakes img {
	padding: 0px;
	background: none;
	border: 0;
	height: 50px;
	width: auto;
	transform: scale(2, 2);
	animation: snow linear 5s infinite;
	-o-animation: snow linear 5s infinite;
	-webkit-animation: snow linear 5s infinite;
	-moz-animation: snow linear 5s infinite;
	margin: 0 auto;
}

/*Spinning blue snowflakes */
.snowflakes {
	margin: 0 auto;
	width: 400px;
	padding: 0px;
	height: 50px;
	animation: spin 8s ease 1;
	-o-animation: spin 8s ease 1;
	-webkit-animation: spin 8s ease 1;
	-moz-animation: spin 8s ease 1;
}


/* snow base and sky background */

body {
	background: #eeeeee;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .4), rgba(0, 100, 200, .5)) no-repeat;
	height: 250px;
}


/*Comment that tells viewers to click the card*/
.detail {
	animation: fadeIn 20s 1;
	-o-animation: fadeIn 20s 1;
	-webkit-animation: fadeIn 20s 1;
	-moz-animation: fadeIn 20s 1;
	opacity: 1;
	color: #000;
	font-family: arial;
	margin: 20px auto;
	text-align: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/*
.lights {
	text-align: center;
	margin: 0 auto;
background: url("http://i32.photobucket.com/albums/d8/sho0/ani-lights-bar-566x22.gif") repeat-x;
width: 100%;
height: 20px;} */


/* button {
	height: 40px;
	width: 40px;
	border-radius: 30px;
	border: 1px solid tomato;
	color: tomato;
	background: white;
}*/

/*Snowy piles border */
.container {
	    border-bottom: 20px solid transparent;
    padding: 0;
    -webkit-border-image: url("snowydiv.png") 20 round; /* Safari 3.1-5 */
    -o-border-image: url("snowydiv.png") 20 round; /* Opera 11-12.1 */
    border-image: url("snowydiv.png") 50 round;
	height: 250px;
	width: 100%;
}
