html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: rgba(00, 100, 0, 1);
}

body {
	background: #000;
	background: linear-gradient(to bottom, rgba(0, 30, 0, 1), rgba(0, 100, 0, .8)) no-repeat;
	width: 100%;
	margin: 0 auto;
	padding: 2em 0px 0px 0px;
	height: 100%;
}

.container {
	opacity: 1;
	margin: 0 auto;
	white-space: nowrap;
	animation: spin 15s linear 1;
	-o-animation: spin 15s linear 1;
	-webkit-animation: spin 15s linear 1;
	-moz-animation: spin 15s linear 1;
	text-align: center;
	width: 100%;
	position: absolute;
	z-index: 1;
	line-height: 4em;
}

.wrap {
	text-align: center;
}

.hbd {
	padding: 0px;
	color: #fff;
	font-family: 'Space Mono', monospace;
	font-size: 600%;
	margin: 0 auto;
	opacity: 1;
	text-shadow: 10px 2px green;
	cursor: crosshair;
	display: inline;
	text-align: center;
}

#hbdo:hover {
	text-shadow: 10px 2px 20px red;
	cursor: crosshair;

}

#hbde:hover {
	text-shadow: 10px 2px 20px blue;
	cursor: crosshair;
	
}

.binary {
	color: #00b100;
	font-family: Space Mono;
	font-size: 200%;
	text-align: center;
	margin: 0 auto;
	overflow: none;
	display: block;
	animation: colorIn 2s alternate infinite;
	-webkit-animation: colorIn 2s alternate infinite;
	-moz-animation: colorIn 2s alternate infinite;
	-o-animation: colorIn 2s alternate infinite;
	opacity: .5;
	position: fixed;
	z-index: 0;
}

.forMobile {
	color: #000;
	font-size: 4em;
	display: none;
}


@keyframes spin {
	from {
		transform: skewx(-80deg);
		opacity: .2;
	}
	to {
		opacity: 1;
	}
}


@-o-keyframes spin {
	from {
		transform: skewx(-80deg);
		opacity: .2;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes spin {
	from {
		transform: skewx(-80deg);
		opacity: .2;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes spin {
	from {
		transform: skewx(-80deg);
		opacity: .2;
	}
	to {
		opacity: 1;
	}
}





@keyframes colorIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@-o-keyframes colorIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes colorIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes colorIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (orientation: portrait) {
.container {display: none;
}

.forMobile {display: block;}
}