html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	background: #000;
	background: linear-gradient(to bottom, rgba(0, 30, 0, 1), rgba(0, 100, 0, .8)) no-repeat;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

.container {
	animation: slideIn 15s 1 forwards;
	-o-animation: slideIn 15s 1 forwards;
	-webkit-animation: slideIn 15s 1 forwards;
	-moz-animation: slideIn 15s 1 forwards;
	opacity: 1;
	margin: 0 auto;
	white-space: nowrap;
}

.wrap {white-space: nowrap;}

.hbd {
	padding: 0px;
	color: #fff;
	font-family: 'Space Mono', monospace;
	font-size: 600%;
	animation: spin 15s ease 1;
	-o-animation: spin 15s ease 1;
	-webkit-animation: spin 15s ease 1;
	-moz-animation: spin 15s ease 1;
	margin: 0 auto;
	opacity: 1;
	float: left;
	text-shadow: 10px 2px green;
	cursor: crosshair;
}

#hbdo:hover {
	text-shadow: 10px 2px 20px red;
	cursor: crosshair;
	font-size: 700%;
}

#hbde:hover {
	text-shadow: 10px 2px 20px blue;
	cursor: crosshair;
	font-size: 700%;
}



@keyframes spin {
	from {
		transform: rotate3d(0, 1, 1, 90deg) scale(.5, .5) rotate(360deg);
		opacity: .2;
	}
	to {
		transform: rotate3d(0, 1, 1, 360deg) scale(1, 1);
		opacity: 1;
	}
}


@-o-keyframes spin {
	from {
		transform: rotate3d(0, 1, 1, 90deg) scale(.5, .5) rotate(360deg);
		opacity: .2;
	}
	to {
		transform: rotate3d(0, 1, 1, 360deg) scale(1, 1);
		opacity: 1;
	}
}

@-moz-keyframes spin {
	from {
		transform: rotate3d(0, 1, 1, 90deg) scale(.5, .5) rotate(360deg);
		opacity: .2;
	}
	to {
		transform: rotate3d(0, 1, 1, 360deg) scale(1, 1);
		opacity: 1;
	}
}

@-webkit-keyframes spin {
	from {
		transform: rotate3d(0, 1, 1, 90deg) scale(.5, .5) rotate(360deg);
		opacity: .2;
	}
	to {
		transform: rotate3d(0, 1, 1, 360deg) scale(1, 1);
		opacity: 1;
	}
}






@keyframes slideIn {
	from {
		transform: translate(0,300px);
		opacity: .1;
	}
	to {
		transform: translate(0,0);
		opacity: 1;
	}
}


@-o-keyframesslideIn {
	from {
		transform: translate(0,300px);
		opacity: .1;
	}
	to {
		transform: translate(0,0);
		opacity: 1;
	}
}

@-moz-keyframes slideIn {
	from {
		transform: translate(0,300px);
		opacity: .1;
	}
	to {
		transform: translate(0,0);
		opacity: 1;
	}
}

@-webkit-keyframes slideIn {
	from {
		transform: translate(0,300px);
		opacity: .1;
	}
	to {
		transform: translate(0,0);
		opacity: 1;
	}
}

.binary {
	clear:both;
	color: #00ff00;
	font-family: Space Mono;
	font-size: 200%;
	opacity: .3;
	text-align: center;
	margin: 0 auto;
	overflow: none;
	display: block;
}

